.icon {
  direction: ltr;
  display: inline-block;
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-rendering: optimizeLegibility;
  text-transform: none;
  user-select: none;
  vertical-align: -6.5px;
  white-space: nowrap;
  word-wrap: normal;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  margin: auto;
  max-width: 1150px;
  position: relative;
  width: 93%;
}

.wrapper:after {
  clear: both;
  content: "";
  display: block;
}

.header {
  border-bottom: 1px solid #ddd;
}

.header-inner {
  padding: 14px 0;
  position: relative;
}

.header-title {
  display: inline;
  font-size: 24px;
  font-weight: normal;
  margin: 0;
}

.header-subtitle {
  background: #616161;
  border-radius: 3px;
  color: #fff;
  font-size: 14px;
  line-height: 14px;
  opacity: 0;
  padding: 8px;
  position: absolute;
  top: 48px;
  transform: scale(0);
  transform-origin: top left;
  transition: transform .3s cubic-bezier(.4, 0, .2, 1), -webkit-transform .3s cubic-bezier(.4, 0, .2, 1);
  z-index: 1;
}

.header-title:hover~.header-subtitle {
  opacity: 1;
  transform: scale(1);
}

.header-icons,
.header-form,
.header-form label,
.header-form button {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
}

.header-icons {
  margin-right: -13px;
}

.header-icons label {
  float: left;
}

.header .btn {
  background: transparent;
  border-radius: 50%;
  box-shadow: none;
  color: #333;
  height: 24px;
  min-width: auto;
  padding: 16px;
  width: 24px;
  -webkit-tap-highlight-color: transparent;
}

.header .btn:focus,
.header .btn:hover {
  background: #e3e3e3;
}

.header .btn:active {
  box-shadow: none;
}

.header-form {
  border-radius: 4px;
  max-width: 320px;
  opacity: 0;
  overflow: hidden;
  transition: width .3s;
  width: 0;
}

#header-form-toggler.checked~.header-form,
#header-form-toggler:checked~.header-form {
  border: 1px solid transparent;
  border-top-color: #eee;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.24);
  opacity: 1;
  width: 100%;
}

.header-form input {
  -webkit-appearance: textfield;
  /* Correct the odd appearance in Chrome and Safari */
  -moz-appearance: textfield;
  background: #fff;
  border: 0;
  color: #777;
  height: 46px;
  line-height: normal;
  /* setting line-height on input using !important in the UA stylesheet */
  padding: 11px 45px;
  opacity: 1;
  outline: 0;
  /* Correct the outline style in Safari */
  overflow: hidden;
  width: 100%;
}

/**
 * Remove inner padding and search cancel button in IE, Safari and Chrome
 */
.header-form input::-ms-clear,
.header-form input::-ms-reveal {
  display: none;
}

.header-form input::-webkit-search-cancel-button,
.header-form input::-webkit-search-decoration,
.header-form input::-webkit-search-results-button,
.header-form input::-webkit-search-results-decoration {
  display: none;
}

/**
* Correct the text style of placeholders in WebKit
*/
.header-form input::-webkit-input-placeholder {
  color: #777;
  opacity: 1;
}

.header-form label.btn {
  left: 5px;
  right: auto;
}

.header-form button.btn {
  display: none;
  right: 5px;
}

.header-form button.btn:hover {
  background: transparent;
}

.header-form input:valid~button.btn {
  display: block;
}

.header-menu {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
  min-width: 164px;
  overflow: hidden;
  opacity: 0;
  padding: 8px 0;
  position: absolute;
  right: 0;
  top: 48px;
  transform: scale(0);
  transform-origin: 100% 0;
  transition: transform .3s cubic-bezier(.4, 0, .2, 1), -webkit-transform .3s cubic-bezier(.4, 0, .2, 1);
  z-index: 2;
}

#header-menu-toggler.checked~.header-menu,
#header-menu-toggler:checked~.header-menu {
  opacity: 1;
  transform: scale(1);
}

.header-menu a {
  display: block;
  font-size: 14px;
  padding: 10px 16px;
}

.header-menu a:hover {
  background: #eee;
}

.main {
  margin: 25px 0;
}

.post {
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
  padding-bottom: 6px;
}

.post-head {
  margin: 0 0 20px;
  text-transform: capitalize;
}

.post-head .embed,
.post-head img {
  margin: 0 0 20px;
}

.post-head i {
  padding-right: 5px
}

.post-title,
.popular-title,
.label-title {
  font-size: 24px;
  margin: 0 0 6px;
}

.post-title~i {
  margin-left: -2px;
  padding-left: 8px;
}

.pager {
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
  padding-bottom: 20px;
  overflow: hidden;
}

.pager .older {
  float: right;
}

.popular,
.label {
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
  margin: 0 0 20px;
  padding: 15px 20px;
}

.popular-item,
.label-item {
  list-style: none;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
}

.popular-item i {
  color: #999;
  display: block;
  font-size: 90%;
  line-height: normal;
}


.label-item b {
  background: #999;
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  font-size: 10px;
  line-height: 16px;
  height: 17px;
  margin-left: 6px;
  text-align: center;
  vertical-align: 2px;
  width: 18px;
}

@media (min-width:640px) {
  .wrapper {
    width: 90%;
  }

}

@media (min-width:768px) {
  .main {
    margin: 40px 0;
  }

  .post {
    margin-bottom: 30px;
    padding-bottom: 16px;
  }

  .pager {
    margin-bottom: 30px;
    margin-top: -10px;
  }

  .popular,
  .label {
    margin: 0 0 30px;
    padding: 25px 30px;
  }

}

@media (min-width:992px) {
  .main {
    margin: 50px 0;
  }

  .content {
    float: left;
    width: 67%;
  }

  .sidebar {
    float: right;
    position: sticky;
    position: -webkit-sticky;
    top: 50px;
    width: 30%;
  }

  .post {
    margin-bottom: 40px;
    padding-bottom: 26px;
  }

  .pager {
    margin-bottom: 40px;
    margin-top: -20px;
  }

  .popular,
  .label {
    padding: 25px 30px;
  }

}
